.campo_texto{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--preto-branco);
    gap: 1rem;
    padding: 0.35rem 0;
    
    border-radius: 0.25rem;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0.3rem;
}

.inp, .lbl, .inp_textarea{
    width: 100%;
    box-sizing: border-box;
    height: 3.25rem;
    border: none;
    background: transparent;
    
    border-radius: 0.3rem;
}

.lbl{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    color: var(--preto-50);
    font-family: var(--rwFont);
    font-size: 1rem;

    font-weight: 400;
    line-height: 20px;
    padding: 0.63rem 0 0 0.63rem;
    transition: all 0.25s;
}

.inp{
    box-sizing: border-box;
    height: 3.25rem;
    width: 100%;

    color: var(--preto-100);
    font-family: var(--rwFont);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    padding: 1.45rem 0 0.63rem 1rem;
    display: flex;
    justify-content: flex-end;
}
.inp::placeholder {
    visibility: hidden;
    color: #00000000;
}
.inp:focus, .inp_textarea:focus{
    outline: none;
}

/* Cuando selecciones la entrada, el label cambia su estilo */
.inp:focus + .lbl {
    color: var(--azul-100);
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.875rem;
    transform: translateY(-20%);
    /* top: 0.25rem; */
    transition: all 0.25s;
}

.campo_texto--invalido {
    margin-bottom: 0.5rem;
  }

  .campo_texto--invalido {
    border: 1px solid var(--info-color);
    border-radius: 7px;
  }
  
  .campo_texto--invalido .lbl {
    color: var(--info-color);
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.875rem;
    transform: translateY(-20%);
  }
  
  .inp-msg-error {
    display: none;
  }
  
  .campo_texto--invalido .inp-msg-error {
    color: var(--info-color);
    display: block;
    padding: 0.5rem 1rem;
  }

.inp_textarea{
    height: 4.125rem;
    padding: 1.45rem 0 0.63rem 1rem;
    font-family: var(--rwFont);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}
.inp_textarea::placeholder {
    visibility: hidden;
  }

  .inp_textarea:focus + .lbl {
    color: var(--azul-100);
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.875rem;
    transform: translateY(-20%);
}
/* Cuando se ingrese un valor, el label cambia su estilo */
.inp:valid + .lbl {
    color: var(--preto-50);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    transform: translateY(-20%);
}

.inp_textarea:valid + .lbl {
    color: var(--preto-50);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    transform: translateY(-20%);
}

.inp:focus, .inp_textarea:focus{
    outline: none;
}