
.tarjetaProducto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 9.75rem;
    height: 15.6rem;
    overflow: hidden;
    justify-content: flex-end;
}
.producto_precio{
    font-size: 1rem;
}
.producto_encabezado{
    position: relative;
}

.producto_img {
    background: lightgray 50%;
    width: 100%;
    height: 11rem;
    object-fit: cover;
}
.producto_texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    color: var(--preto-100);
}
.producto_encabezado button{
    background: transparent;
    border: none;
    box-sizing: content-box;
    position:absolute;
    top: 0.8rem;
    cursor: pointer;
    color: var(--preto-branco);
}

.btn_trash{
    left: 0.5rem;
}
.btn_edit{
    right: 0.5rem;
}
  