@import url(encabezado.css);
@import url(banner.css);
@import url(categoria.css);
@import url(rodapie.css);
.footer {
    color: var(--preto-100);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    font-family: var(--rwFont);
    font-weight: 600;
    font-size: 0.875rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 7rem;
    box-sizing: content-box;
}
.btn_login{
    background-color: var(--preto-branco);
    color: var(--azul-100);
    border: 1px solid var(--azul-100);
    width: 8.25rem;
}
.btn_principal{
    background-color: var(--azul-100);
    color: var(--preto-branco);
}
.btn_linea{
    background: none;
    font-size: 0.875rem;
    border: none;
    color: var(--azul-100);
    font-weight: 700;
    padding: 0;
}
.icon {
    cursor: pointer;

}
  
.icon:hover {
    color: rgba(62, 161, 219, 1);
}
@media screen and (min-width:1024px){
    .btn{
        font-size: 1rem;
    }
}